@import url(Cell.css);
@import url(WordleModal.css);

.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

.grid-wordle {
  width: 450px;
  height: 550px;
  margin-top: 8em;
  display: flex;
  flex-direction: column;
}
.row-wordle {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.cell-wordle {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.toast-wrapper {
  /* margin: 3em auto; */
  position: absolute;
  top: 10%;
}
.toast-message {
  color: black;
  background-color: white;
}
