.Home {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

* {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

/* a {
  text-decoration: none;
  color: #eeeeee;
} */

a:hover {
  color: #d8d8d8;
}

li {
  list-style: none;
}
